:root{
  --sys-color-white: #FFFFFF;
  --sys-color-black: #000000;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);

  --borderone: 1px solid black; 

  --peach: #f5c5a0;
  --pistachio: #7dae9b;

}

body{
  font-family: 'Kalam', cursive;
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, #e6e6e6 1px, transparent 1px),
    linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);
  margin-bottom: 2.5rem;
}
input,button{
  font-family: 'Kalam', cursive;
}

/* Hide link in Month, */
.hide a{ 
  display: none;
}