.day-content.event-content{
  display: flex;
  flex-direction: column;
  border: var(--borderone); 
  margin: 1rem 0 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.day-content.edit{
  display: flex;
  flex-direction: column;
}
.input-field.select{
  font-family: 'Kalam', cursive;
}

.my-button.day{
  height: 2.7rem;
    border: 2px solid #8abfe8;
    border-radius: 4px;
    background-color: white;
}
.my-button.day:hover{
  border-radius: 4px;
  background-color: #8abfe8;
  transition-duration: 0.4s;
}

.my-button.day.ed{
  flex: 1;
  border: 2px solid var(--pistachio);
}
.my-button.day.ed:hover{
  flex: 1;
  background-color: var(--pistachio);
  color: white;
}

.edit.button{
  gap: 25px;
  align-content:stretch;
  width: none;
  min-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem;
}