.login{
  margin: auto;
  padding: 1rem;
  border: var(--borderone); 
  width: 20rem;
  display: flex;
  flex-direction:column;
  background: white;
}

.login-form{
  padding: 1rem;
  margin-bottom: 1rem;
  border: var(--borderone); 
  display: flex;
  flex-direction:column;
}

.input-box{
  margin-bottom: 1rem;
  display: flex;
  flex-direction:column;
}
.lable{
  margin-bottom: 0.5rem;
  display: inline-block;
}
.input-field{
  display: block;
  padding: 0.375rem 0.75rem;
}

.my-button:hover{
  border-radius: 4px;
  background-color: #8abfe8;
  transition-duration: 0.4s;
}

.my-button{
  font-size: 1.5em;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
