@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
#root{
  width: 50rem;
  margin: auto; 
}


/*top nav+ day tiles*/
.react-calendar { 
  max-width: 100%; 
  /* background: white; */
  /* border: 1px solid red; */
  /* font-family: 'Kalam', cursive; */
  
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


 /*all buttons in month? page*/
.react-calendar button {
  margin: 0;
  /* border: 0; */
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}

/*top nav*/
.react-calendar__navigation {
  margin-bottom: 1em;
  height: 44px;
  /* border-collapse: collapse; */
  /* border: solid 2px black; */
  display: flex;
  justify-content:space-between;
  /* gap: 10px; */
}
/* Month Title */
.react-calendar__navigation button:nth-child(3) {
  border-radius: 40px;
  background: #f5c5a0;
  width: 1rem;
  margin: 0 10px;
  /* flex-grow: 1 !important; */
}

.react-calendar__navigation button:nth-child(2) {
  border-left: none;
}
.react-calendar__navigation button:nth-child(4) {
  border-right: none;
}

/*top nav individual*/
.react-calendar__navigation button {
  border: solid 2px black;
  min-width: 44px;
  background: white;
  font-size: 1.3rem;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f5c5a0;
  transition-duration: 0.4s;
}
.react-calendar__navigation button:nth-child(3):enabled:hover,
.react-calendar__navigation button:nth-child(3):enabled:focus {
  background-color: #7dae9b;
}
.react-calendar__year-view__months{
  border: solid 1px black; 
}
.react-calendar__year-view .react-calendar__tile{
  /* text-align: center; */
  font-size: 1.2em;
  align-items:center;
  align-content:center;
  /* color: aqua; */
}
abbr.react-calendar__year-view .react-calendar__tile{
  /* text-align: center; */
  /* align-items:center; */
  /* align-content:center; */
  /* color: aqua; */
}

/*Week overall*/
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  text-decoration: none;
  background: #f5c5a0;
  border-top:    1px solid black;
  border-right:  1px solid black;
  border-left:   1px solid  black;
}

/*Week title*/
abbr[title] {
  text-decoration: none;
  /* margin-bottom: 1rem; */
}

/*Week individual box and font*/
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  border: solid 1px black; 
  
}

/*day tiles all*/
.react-calendar__month-view__days {
  border-bottom:    1px solid black;
  border-right:  1px solid black;
  border-left:   1px solid  black;
}

/*weekend day tiles individual box*/
.react-calendar__month-view__days__day--weekend {
  color: #cc889d;
}

/*neighboringMonth day tile individual box*/
.react-calendar__month-view__days__day--neighboringMonth {
  
  color: #b0b0b0;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

/*day tile individual*/
.react-calendar__tile {
  max-width: 100%;
  height: 7.23rem;
  line-height: 16px;
  
  padding:0.1rem 0.1rem;
  /* padding: 10px 6.6667px; */
  /* text-align: left; */
  border: 1px solid black;
  background-color: white;
  margin-top: 30px;
  display:flex;
  flex-direction:column;
  gap: 0.5em;
}
/*day events*/
button.react-calendar__tile>span{
  width: 100%;
  text-align: center;
  border-radius: 40px;
  margin-bottom:0.5rem;
  color: white;
}

.study{
  background-color: #7dae9b;
}
.leisure{
  background-color: #8abfe8;
}
.work{
  background-color: #7b78b8;
}
/* red: #cc889d yellow: #f5c5a0 darkblue: #5c7998*/

/* .journal{
  background-color: #7b78b8;
} */
/*day tile individual2*/
/* button.react-calendar__tile.react-calendar__month-view__days__day{
 
} */

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

/*day tile individual hover& after select*/
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  transition-duration: 0.4s;
}

/*now overridden by active */
/* .react-calendar__tile--now {
  background: #ffff76;
} */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #e6e6e6;
  transition-duration: 0.4s;
}

/* today tile individual*/
.react-calendar__tile--active {
  
  background: linear-gradient(
    to bottom,
    #cc889d 15%,
    white 15% 100%
  );
  background-color: white;
  color: black;
}
.react-calendar__tile--active>abbr {
  /* width: ; */
  /* border-radius: 50%;
  background-color: white; */
  
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e6e6e6;
  background-color: #e6e6e6;
  transition-duration: 0.4s;
}


/* today months */
.react-calendar__tile--hasActive {
  background: #cc889d;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #eb9cb5;
}

/* .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #521717;
} */
/* e6e6e6 */
